/* rubik-regular - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v31-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v31-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v31-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* start header */

input, button, a{
    display: block;
}
ol, ul{
    list-style: none;
}

.header-bgcolor{
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrapper{
    display: flex;
}

.header-list{
    display: flex;
    list-style: none;
    margin-right: 247px;
}

.header-icon{
    font-family: Rubik;
font-weight: 700;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #7296EC;
}

.header-item{
    width: 69px;
    font-family: Rubik;
font-weight: 400;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.header-item:nth-child(1){
    margin-right: 25px;
}

.header-logo{
    margin-right: 35px;
    width: 275px;
    height: 45px;
}

.header-input{
    display: block;
    width: 275px;
    border-radius: 60px;
    padding: 15px;
    font-family: Rubik;
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.header-button{
    width: 70px;
    display: flex;
    gap: 2px;
    background: #DCE6FF;
    border-radius: 39px;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.header-button-uz{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: black;
    border: none;
    font-family: Rubik;
font-weight: 400;
font-size: 13px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.header-button-ru{
    display: block;
    width: 30px;
    height: 30px;
    color: #A6A6A6;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: Rubik;
font-weight: 400;
font-size: 13px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

.header-sign-link{
    display: block;
    width: 89px;
    border-radius: 10px;
    background: #7296EC;
    color: #FFFFFF;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-family: Rubik;
font-weight: 500;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}

/* finish header */

/* start nav */

.nav-list{
    display: flex;
    gap: 25px;
    list-style: none;
    padding-bottom: 20px;
    border-bottom: solid 1px #D1D1D1;
}

.nav-link{
    font-family: Rubik;
font-weight: 500;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #7F7F7F;
text-decoration: none;
}

/* finish nav */

/* start article */

.article-pic{
    padding-top: 40px;
    margin-bottom: 50px;
    border-radius: 8px;
}

/* finish article  */

/* start mir */

    .mir-item{
        width: 707px;
        display: flex;
        align-items: center;
        background-color: #F6F6F6;
        margin-bottom: 10px;
        border-radius: 15px;
    }

    .mir-text{
        width: 535px;
        margin-right: 20px;
    }

    .mir-photo{
        border-radius: 10px;
        margin-right: 15px;
        margin-left: 17px;
    }

    .mir-title{
        font-family: Rubik;
font-weight: 500;
font-size: 20px;
leading-trim: NONE;
line-height: 26px;
letter-spacing: 0%;
color: black;
    }

    .mir-desc{
        font-family: Rubik;
font-weight: 400;
font-size: 16px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
color: #4A4B4C;
    }

    .mir-info{
        font-family: Rubik;
font-weight: 400;
font-size: 12px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #5E5F61;
display: flex;
align-items: center;
gap: 10px;
    }


    .mir-info::before{
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(./images/1111.png);
        border-radius: 5px;
        background-size: 20px;
    }

    .mir-item:nth-child(2) .mir-info::before{
        background-image: url(./images/2222.png);
    }

    .mir-item:nth-child(3) .mir-info::before{
        background-image: url(./images/3333.png);
    }
    
    .mir-item:nth-child(4) .mir-info::before{
        background-image: url(./images/4444.png);
    }

    .mir-item:nth-child(5) .mir-info::before{
        background-image: url(./images/5555.png);
    }

    .mir-item:nth-child(6) .mir-info::before{
        background-image: url(./images/6666.png);
    }

    .mir-item:nth-child(7) .mir-info::before{
        background-image: url(./images/7777.png);
    }

    .mir-item:nth-child(8) .mir-info::before{
        background-image: url(./images/8888.png);
    }

    .mir-btn{
        margin: 0;
        padding: 20px;
        width: 730px;
        margin-left: 15px;
        margin-bottom: 100px;
        border-radius: 10px;
        font-family: Rubik;
font-weight: 500;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: black;
border: none;
    }

    /* finish mir */

    /* start right */

    .right-list{
        width: 393px;
        border-radius: 15px;
        background-color: #F6F6F6;
        margin-left: 10px;
    }

    .right-item:nth-child(1){
        border-bottom: solid 1px #D1D1D1;
        margin-right: 17px;
    }

    .right-item:nth-child(2){
        border-bottom: solid 1px #D1D1D1;
        margin-right: 17px;
    }

    .right-item:nth-child(3){
        border-bottom: solid 1px #D1D1D1;
        margin-right: 17px;
    }

    .right-item:nth-child(4){
        padding-bottom: 25px;
    }

    .right-title{
        padding-top: 20px;
        
        font-family: Rubik;
font-weight: 500;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
    }

    .right-text{
        list-style: none;
        font-family: Rubik;
font-weight: 500;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
color: #000000;
    }

    .right-item{
        margin-right: 17px;
    }

    .right-photo{
        border-radius: 15px;
        margin-left: 10px;
    }

    /* finish right */

    /* strat footer */
    footer{
        background-color: #7297EF;
    }
.footer-title{
    font-family: Rubik;
font-weight: 700;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
padding-top: 40px;
}
.footertext{
    width: 229px;
    font-family: Rubik;
font-weight: 400;
font-size: 12px;
line-height: 19px;
letter-spacing: 0%;
color: #FFFFFF;
margin-right: 203px;
}
.footerfirst{
    display: flex;
    
}
.footer-item{
    margin-top: 83px;
}
.footer-right3{
    display: flex;
}
.footer-list{
    font-family: Rubik;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 20px;
color: #FFFFFF;
margin-right: 100px;
}
.footer-tittle{
    font-family: Rubik;
font-weight: 500;
font-size: 18px;
line-height: 23px;
letter-spacing: 0%;
width: 161px;
color: #FFFFFF;
margin-right: 662px;
}
.logos{
    margin-top: 31px;
    margin-right: 25px;
}

/* finish footer style */